<%= content_for :javascript do %>
	<%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=true" -%>
	<%= javascript_include_tag "medium-editor.min"  -%>
	<%= stylesheet_link_tag 'medium-editor.min', 'medium-editor-default.min' %>
	<%= javascript_include_tag "editor_settings"  -%>
	<%= javascript_include_tag "tag/tag"  -%>
<% end %>

<div id="map_canvas"></div>

<%= hidden_field_tag :all_tags, "'#{Tag.find(:all).map { |tag| tag.title }.join('\',\'')}'" %>
<% if params[:collection_id].present?%>
<%= hidden_field_tag :collection_id, params[:collection_id] %>
<%end%>
<%= form.hidden_field :id %>
<%= form.hidden_field :latitude %>
<%= form.hidden_field :longitude %>

<%= form.label :title, :Title, {:class => 'big w-80'} %><br />
<%= form.text_field :title, {:class => 'big w-80 db border-box hover-black ba b--black-20 pa1 br2 mb2'} %><br />

<%= form.label :description, {:class => 'big w-80'} %><br />
<%= form.hidden_field :description, html: { id: "description" } %>
<div class="editable big w-80 h5 db bg-white border-box black ba b--black-20 pa2 br2 mb2" data-field-id="description">
	<%= raw @album.description %>
</div>

<br />
Contains: <%= @album.photos.count %> photos<br/>
