<%= content_for :javascript do %>
	<%= javascript_include_tag "jquery.min"  -%>
	<%= javascript_include_tag "jquery.sortable.min.js"  -%>
	<style type="text/css">@import url(/javascripts/plupload/js/jquery.plupload.queue/css/jquery.plupload.queue.css);</style>
	<%= javascript_include_tag "plupload/js/plupload.full.js" -%>
	<%= javascript_include_tag "plupload/js/jquery.plupload.queue/jquery.plupload.queue.js"  -%>
	<%= javascript_include_tag "photos", "uploader_settings"  -%>

<% end %>
<h1>Edit Album</h1>
 
<div class="fl w-100">
	<form id="form_uploader">
		<%= content_tag(:div, 
										:id => "uploader", 
										:data => {
											:album_id => @album.id, 
											:url_upload => photos_path, 
											:session_key => cookies[get_session_key]}) do %>
			<p>You browser doesn't have Flash, Silverlight, Gears, BrowserPlus or HTML5 support.</p>
		<% end %>
		<br>
	</form>
</div>
<div class="fl w-60">
	<%= form_for @album do |f| %>
		<%= f.error_messages %>
		<%= render :partial => "form", :object => f %>
		<%= f.submit "Update" %>
	<% end %>
</div>
 <div class="fl w-40" id="multipleimages">
	<ul class="sortable grid ma0 dib" id="thumbs">
		<% for photo in @album.photos.find(:all) %>
			<%= render :partial => "photos/thumb_sort", :locals => {:photo => photo}%>
		<% end %>
	</ul>
</div>


<%= content_for :action_links do %>
<% if has_role?("admin") %>

<%= link_to("Delete album", { :action => "destroy", :id => @album, :collection_id => params[:collection_id] },
  :confirm => "Are you sure you want to delete this album?",
  :method => :delete) %>
<%= link_to "Add photos to this album", upload_album_photos_path(@album), :class => "link mid-gray hover-gray" %>
<% end %>
<% end %>
