<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title><%= ENV['TITLE'] || "Photos" %></title>
	<meta name="viewport" content="width=device-width">
	<meta name="viewport" content="initial-scale=1.0">
	<%= yield :head %>
	<%= stylesheet_link_tag 'application', 'font-awesome', 'tachyons' %>
	<%= csrf_meta_tag %>
</head>
<body class="bg-dark-gray white">
<div id="container" class="w-80">

<div id="header">
	<div id="action_links" class="f6 fw4 mid-gray pt3" >
	<%= yield :action_links %>
	<% if current_user %>
	<span class="white">Logged in as</span> <%= link_to(current_user.name, 'account', :class => "link light-gray hover-gray") %>
	<%= link_to 'Logout', logout_path, :class => "link light-gray hover-gray" %>
	<% end %>
	</div>
	<h1>
		<%= link_to(if ENV['LOGO'] then image_tag(ENV['LOGO']) else (ENV['TITLE'] || "Glass") end, root_path, :class => "white f2") %>
	</h1>
	<%= form_tag albums_path, { :method => :get, :id => :search } do -%>
		<input type="text" name="q" class="textfield"/>
		<input type="submit" value="Search" class="f6 button-reset link dim br2 ba ph3 pv2 mb2 dib dark-gray" />
	<% end -%>
    <hr class="seperator" />
	<%= breadcrumbs %>
</div>

<div id="content">
	<p id="notice"><%= flash[:notice] %></p>
	<%= yield %>
</div>

<div id="footer">
  
</div>
</div>

<%= javascript_include_tag 'jquery-1.4.2.js', 'rails', 'balder' %>
<%= yield :javascript %>
</body>
</html>
